histoire/document.aux
histoire/document.bbl
histoire/document.blg
histoire/document.dvi
histoire/document.idx
histoire/document.log
histoire/document.out
histoire/document.pdf
histoire/document.toc
physique/document.aux
physique/document.bbl
physique/document.blg
physique/document.dvi
physique/document.idx
physique/document.log
physique/document.out
physique/document.pdf
physique/document.toc
dictionnaire/document.aux
dictionnaire/document.bbl
dictionnaire/document.blg
dictionnaire/document.dvi
dictionnaire/document.log
dictionnaire/document.out
dictionnaire/document.pdf
dictionnaire/document.toc

